body {
    font-family: 'Slabo 27px', serif
}

.jumbotron {
    background-color: #d9d9d9
}

.thumbnail {
    background-color: #d9d9d9
}

a.thumbnail,
a.thumbnail:hover {
    border: none;
    margin-top: 20px
}

ul {
    font-size: 16px
}

strong {
    font-size: 125%
}
